/ParallelMethods/cmake-build-debug
/BiCGStab/x64
/BiCGStab/Debug
/BiCGStab/BiCGStab/x64
/CholeskyDecomposition/x64
/CholeskyDecomposition/Debug
/CholeskyDecomposition/CholeskyDecomposition/x64
/DesignPatterns/BridgeAndDecorator/.vs/
/DesignPatterns/BridgeAndDecorator/BridgeAndDecorator/Debug/
/DesignPatterns/BridgeAndDecorator/BridgeAndDecorator/x64/
/DesignPatterns/BridgeAndDecorator/Debug/
/DesignPatterns/BridgeAndDecorator/UnitTest/Debug/
/DesignPatterns/BridgeAndDecorator/x64/
